body {
   background-color: rgba(0, 0, 0, 0.658);
   color: white;
   overflow-x: hidden;
}

.left_to_right_animation {
   animation-name: left_to_right;
   animation-delay: 2ms;
   animation-duration: 2s;
   animation-delay: 0.3s;
   animation-timing-function: linear;
   right: 0%;
   position: relative;
   opacity: 1;
}

@keyframes left_to_right {
   from {
      right: 70%;
      opacity: 0;
   }
   to {
      right: 0%;
      opacity: 1;
   }
}

.right_to_left_animation {
   animation-name: right_to_left;
   animation-delay: 2ms;
   animation-duration: 2s;
   animation-delay: 0.3s;
   animation-timing-function: linear;
   left: 0%;
   position: relative;
   opacity: 1;
}

@keyframes right_to_left {
   from {
      left: 70%;
      opacity: 0;
   }
   to {
      left: 0%;
      opacity: 1;
   }
}

.bottom_animation {
   animation-name: bottom-animation;
   animation-delay: 2ms;
   animation-duration: 2s;
   animation-delay: 0.3s;
   animation-timing-function: linear;
   bottom: 0%;
   position: relative;
   opacity: 1;
}

@keyframes bottom-animation {
   from {
      bottom: 100%;
      opacity: 0;
   }
   to {
      bottom: 0%;
      opacity: 1;
   }
}

div.circle-yellow {
   background-color: #eea302;
   height: 25px;
   width: 25px;
   border-radius: 12.5px;
   margin-top: 10px;
   margin-left: 15px;
}

.navbar-text {
   align-self: center;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

li {
   float: left;
   display: block;
}

.verticle-line {
   width: 2px;
   height: 20px;
   display: flex;
   float: right;
   margin-top: 0.8%;
   margin-right: 2%;
   background-color: black;
}

.box-shadow {
   background-color: rgba(0, 0, 0, 0.3);
   box-shadow: -10px 10px rgba(0, 0, 0, 0.658);
   border-radius: 25px;
}

.circle {
   border-style: ridge;
   border-width: 2px;
   height: 100px;
   width: 100px;
   border-radius: 50px;
   margin-top: 20px;
   border-color: rgba(255, 255, 255, 0.1);
   background-color: rgba(255, 255, 255, 0.352);
   box-shadow: -10px 10px rgba(0, 0, 0, 0.658);
   transition-duration: 0.5s;
   display: flex;
   font-size: 20px;
   text-align: center;
   align-content: center;
   justify-content: center;
   cursor: pointer;
}

.circle-text {
   position: absolute;
   margin-top: 39px;
}

.circle:hover {
   box-shadow: 0px 0px rgba(255, 255, 255, 0.352);
   border-width: 0px;
   font-size: 18px;
}

.footer-content {
   position: relative;
   margin-top: 30px;
}

.footer-content-header {
   font-size: 25px;
   font-weight: bold;
   text-justify: kashida;
}

.footer-content-body {
   font-size: 20px;
}

a {
   color: white;
}
